---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { db, Like } from 'astro:db';
const pageTitle = "Home Page";

// const likes = await db.select().from(Like);
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <!-- {likes.map(like => <p>{like.likes}</p>)} -->
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>